.App {
  font-size: 15px;
  background: linear-gradient(rgb(240, 247, 255), rgb(255, 255, 255));
  text-align: center;
  color: white;
}

.app-header {
  background-color: #ff5f47;
  height: 100vh;
  padding: 40px;
  font-size: calc(10px + 2vmin);
}

.app-header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.introduction {
  margin: 0 auto;
  width: 60vw;
  font-size: 20px;
  color: white;
}

.me {
  /* border: rgb(0, 94, 5) 2px solid; */
  width: 200px;
  border-radius: 100px;
}

.heading {
  font-family: Arial;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.react-header {
  font-size: 40px;
  font-family: Arial;
}

.card-container {
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  height: 350px;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(87, 169, 236);
  position: relative;
}

.card-button {
  position: absolute;
  left: 5px;
  bottom: 10px;
}

/* react fullpage */

.section {
  /* background-color: aquamarine; */
}

.homepagebuttons {
  margin: 10px 0;
}

.homepagebutton {
  background: white;
  margin: 10px;
  padding: 10px 20px;
  color: #375592;
  border-radius: 5px;
  font-size: 20px;

  border: none;
  cursor: pointer;
  outline: inherit;
}

.section2 {
  background-color: #4791ff;
}

.section3 {
  background-color: #c547ff;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions {
  display: flex;
  flex-direction: row;
}


.actions > * {
  margin: 10px;
}
